.product-grid {
  padding: 1rem 1rem 2rem 1rem;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    @include slide-top;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    @include slide-top;

    .card {
      position: relative;
      border-radius: 1rem;
      overflow: hidden;
      transition: transform 0.3s;
      height: 250px; // Hauteur fixe pour bien placer le contenu

      &:hover {
        transform: scale(1.02);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      .card-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
        color: #fff; 
        text-align: left;

        h3, p {
          margin: 0;
          font-size: 1rem;
          font-weight: bold;
        }

        p {
          font-weight: normal;
        }
      }
    }
  }
}
