.product-grid {
  padding: 1rem 1rem 2rem 1rem;
  text-align: center;



  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
    @include slide-top;

  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    @include slide-top;


    .card {
      position: relative;
      background-color: #fff;
      padding: 1rem;
      border-radius: 1rem;
      overflow: hidden;
      transition: transform 0.3s;


      &:hover {
        transform: scale(1.02);
      }

      img {
        width: 100px;
        height: 150px;
        object-fit: contain;

      }

      .card-content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        text-align: left;


        h3 {
          margin: 0;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
  }
}
