.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    margin-top: -80px;
    overflow: hidden;
  
    &__slide {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      transition: background-image 1s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    &__overlay {
      background: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      @include flex-center;
      padding: 2rem;
    }
  
    &__content {
      text-align: center;
      color: #fff;
      max-width: 800px;
      @include slide-top;
    }
  
    &__title {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  
    &__subtitle {
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }
  
    &__cta {
      background-color: $danger-color;
      padding: 1rem 2rem;
      border-radius: 2rem;
      font-weight: bold;
      font-size: 1.1rem;
      text-decoration: none;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: $valid-color;
      }
    }
  }