.category-page {
    height: 100vh;
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
    background: linear-gradient(to top, transparent, $primary-color);

    h2 {
      font-size: 2rem;
      padding: 2rem 1rem;
      margin-bottom: 5rem;
      text-align: center;
      color: $secondary-color;
      background-color: $primary-color;
      border-radius: $radius-lg;
      border: solid 1px $secondary-color;

    }
    button {
      color: $secondary-color;
      background-color: $primary-color;
      margin: 2rem;
      font-size: 20px;
      border: none;
      border-radius: $radius-sm;
      @include slide-left;
      @include transition;
      
      &:hover {
        background-color: $hover-color;
        padding: 1rem;
      }

    }
    
    .products-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 1.5rem;
    }
  
    .product-card {
      background: $secondary-color;
      border-radius: 12px;
      padding: 1rem;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
      }
  
      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
      }
  
      h3,p {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        color: $primary-color;

      }
    }
  }

  .marquee-container {
    background-color: #f9f9f9;
    padding: 1rem 0;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;

    h3{
      margin:1rem;
      font-size: 2rem;
    }
  }
  
  .marquee-item {
    margin-right: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #111;
  }
  
  