.category-page {
    padding: 2rem;
    background: linear-gradient(to bottom, #f9f9f9, $primary-color);
    text-align: center;

    h2 {
      font-size: 2rem;
      padding: 2rem 1rem;
      margin-bottom: 1.5rem;
      text-align: center;
      color: #fff;
      background-color: $secondary-color;
      border-radius: $radius-sm;

    }
    button {
      padding: 1rem 1rem;
      margin: 2rem 1rem 2rem 1rem;
      color: #fff;
      background-color: $valid-color;
      border-radius: $radius-sm;
      border:none;
      @include slide-left;
      @include transition;
      
      &:hover {
        background-color: $hover-color;
      }

    }
    
    .products-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 1.5rem;
    }
  
    .product-card {
      background: #fff;
      border-radius: 12px;
      padding: 1rem;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
  
      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
      }
  
      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
      }
  
      h3 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        color: #222;

      }
  
      p {
        font-size: 1rem;
        color: #777;
      }
    }
  }
  