.menu {
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to bottom, #f9f9f9, $primary-color);


  .top-menu {
    background-color: $secondary-color;
    color: #fff;
    padding: 1.5rem;
    border-radius: $radius-md;
    margin-bottom: 2rem;
    @include slide-top;


    .menu-title {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
      color: #ccc;
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 2rem;
    margin-top: 1rem;
  }

  &-item {
    background: #fff;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    @include slide-top;


    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      display: block;
    }

    h3 {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      padding: 1rem 1rem;
      font-size: 1.25rem;
      color: #111;
      text-align: center;
    }

    p {
      padding: 1rem;
    }
  }
}


