.story {
  padding: 5rem 1rem;
  text-align: center;
  background: linear-gradient(to bottom, #f9f9f9, $primary-color);

  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .story-container {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: $radius-md;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 1.5rem;
    @include slide-left;

  }

  .story-slide {
    @include flex-column;
    transition: transform 0.3s ease-in-out;
    
    .story-image {
      width: 100%;
      max-height: 250px;
      object-fit: cover;
      border-radius: $radius-md;
      margin-bottom: 1rem;
    }

    .story-text {
      h3 {
        font-size: $font-size-lg;
        margin-bottom: 0.8rem;
      }

      p {
        font-size: $font-size-md;
        line-height: 1.5;
      }
    }
  }

  .prev,
  .next {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: $valid-color;
    color: #f9f9f9;
    border: none;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: $radius-lg;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $secondary-color;
    }
  }

  .prev {
    left: 1rem;
  }

  .next {
    right: 1rem;
  }
}
