@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import "base/variable";
@import "base/base";
@import "base/mixins";
@import "layout";
@import "product/menu";
@import "product/category";
@import "contact";
@import "story";
@import "home/home";
@import "home/hero";
@import "home/actualite";
@import "home/bestsellers";