*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  font-size: $font-size-md;
}

h1, h2, h3 {
  font-weight: bold;
  font-family: $font-family;
}

a {
  text-decoration: none;
  color: inherit;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    flex: 1;
}

.container {
	max-width: 100%;
	padding: 0;
}

