// ==============================
// Colors
// ==============================

$primary-color: #faf5ed;
$secondary-color: #502414;
$danger-color: #BC1823;
$button-color: #1C2120;
$hover-color: #F7A709;
$hover1-color: #cc4b00;
$valid-color:#53AC47;
$info-color:#0077ff;
$background-color: #333;

// ==============================
// Typography
// ==============================

$font-family: 'Playfair Display', serif;

$font-size-sm: 0.75rem;   
$font-size-md: 1rem;      
$font-size-lg: 1.5rem;   
$font-size-xl: 3rem;    

// ==============================
// Border Radius
// ==============================

$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-pill: 9999px;

// ==============================
// Shadows
// ==============================

$shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
$shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
$shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.15);

  